@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.navbar {
  position: absolute;
  top: 3rem;
  right: 1rem;
  font-family: 'Lora', serif;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
}

.navbar li:hover {
  color: red;
}

 .tap {
  position: absolute;
  padding-left: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px 4px black;
}

.container_image {
   animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

body {
  background-color: coral;
  color: white;
}

.keg_list {
  padding-top: 10px;
}

.keg_list_2 {
  position: absolute;
  top: 10rem;
  right: 65rem;
}

.new_keg_form {
  position: absolute;
  top: 15rem;
  right: 27.5rem;
}

h2 {
  position: absolute;
  top: 9rem;
  right: 27rem;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

input {
  border-radius: 25px;
}

.input_button {
  color: coral;
  font-size: 18px;
  width: 200px;
  padding: 10px;
  box-shadow: 2px 2px 4px black;
}
