@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.navbar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: 'Lora', serif;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
}

.navbar li:hover {
  color: red;
}

 h1 {
  position: absolute;
  top: 2rem;
  padding-left: 25px;
}

.container_image {
   animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

body {
  background-color: coral;
  color: white;
}
